<!doctype html>
<html ng-app="demo">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-resource/angular-resource.js"></script>
	<script src="../dist/uNgGrid.js"></script>
	<script src="demo.js"></script>
</head>
<body ng-controller="DemoCtrl">
	<div class="container-fluid">
		<h1>uNgGrid demo</h1>

		<div class="row">
			<div class="col-xs-6">
				<div class="btn-group">
					<button class="btn btn-default" ng-class="{'btn-primary':people.params.limit==5}" ng-click="people.params.limit=5">5</button>
					<button class="btn btn-default" ng-class="{'btn-primary':people.params.limit==10}" ng-click="people.params.limit=10">10</button>
					<button class="btn btn-default" ng-class="{'btn-primary':people.params.limit==20}" ng-click="people.params.limit=20">20</button>
					<button class="btn btn-default" ng-class="{'btn-primary':people.params.limit==50}" ng-click="people.params.limit=50">50</button>
					<button class="btn btn-default" ng-class="{'btn-primary':people.params.limit==100}" ng-click="people.params.limit=100">all</button>
				</div>
				items per page
			</div>
			<div class="col-xs-6">
				<input class="form-control" type="text" placeholder="Filter last names" ng-model="people.params.filter"
				       ng-model-options="{'updateOn':'default blur','debounce':{'default':2000,'blur':0}}">
			</div>
		</div>

		<nav ng-if="people.total > people.params.limit">
			<ul class="pagination">
				<li ng-if="people.pagination.firstPage < people.pagination.currentPage">
					<a href="" ng-click="people.pagination.setPage(people.pagination.firstPage)">&laquo;</a>
				</li>
				<li ng-if="people.pagination.previousPage < people.pagination.currentPage">
					<a href="" ng-click="people.pagination.setPage(people.pagination.previousPage)">&lsaquo;</a>
				</li>
				<li ng-repeat="page in people.pagination.pages" ng-class="{'active':people.pagination.currentPage==page}">
					<a href="" ng-click="people.pagination.setPage(page)">{{ page }}</a>
				</li>
				<li ng-if="people.pagination.nextPage > people.pagination.currentPage">
					<a href="" ng-click="people.pagination.setPage(people.pagination.nextPage)">&rsaquo;</a>
				</li>
				<li ng-if="people.pagination.lastPage > people.pagination.currentPage">
					<a href="" ng-click="people.pagination.setPage(people.pagination.lastPage)">&raquo;</a>
				</li>
			</ul>
		</nav>

		<div>
			<label for="delay">
				<input type="checkbox" ng-model="people.timeout" id="delay"> Activate 1s delay
			</label>
		</div>

		<table class="table" u-ng-grid="people">
			<thead>
				<tr>
					<th>First name <u-ng-grid-sorter field="first" class="btn btn-default btn-xs" type="alphabetic"></u-ng-grid-sorter></th>
					<th>Last name <u-ng-grid-sorter field="last" class="btn btn-default btn-xs" type="alphabetic"></u-ng-grid-sorter></th>
					<th>E-mail address <u-ng-grid-sorter field="email" class="btn btn-default btn-xs" type="alphabetic"></u-ng-grid-sorter></th>
					<th>Birth date <u-ng-grid-sorter field="birthday" class="btn btn-default btn-xs"></u-ng-grid-sorter></th>
					<th>Salary <u-ng-grid-sorter field="salary" class="btn btn-default btn-xs" type="numeric"></u-ng-grid-sorter></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in people.data">
					<td>{{ person.first }}</td>
					<td>{{ person.last }}</td>
					<td><a href="javascript:void(0)">{{ person.email }}</a></td>
					<td>{{ person.birthday | date }}</td>
					<td>{{ person.salary | currency }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
